<div class="row article-item">
  <div class="col-12">
    <h5>{{ article.title }}
      <span
        class="badge"
        [ngClass]="{
          'badge-success': article.status === 'active',
          'badge-warning': article.status === 'inactive',
          'badge-secondary': article.status === 'unknown'}">{{ article.status }}</span>
    </h5>
    <hr>
    <p>{{ article.content | slice:0:49 }}<span *ngIf="article.content.length > 39">...</span></p>
    <button
      class="btn btn-success"
      (click)="onSetTo('active')">Set to 'active'</button>
    <button
      class="btn btn-warning"
      (click)="onSetTo('inactive')">Set to 'inactive'</button>
    <button
      class="btn btn-secondary"
      (click)="onSetTo('unknown')">Set to 'unknown'</button>
  </div>
</div>
