<div class="row new-article">
  <div class="col-12">
    <div class="form-group">
      <label>Article Title</label>
      <input
        type="text"
        class="form-control"
        #articleTitle>
    </div>
    <div class="form-group">
      <label>Article Image Url</label>
      <input
        type="text"
        class="form-control"
        #articleImg>
    </div>
    <div class="form-group">
      <label>Article Content</label>
      <textarea
        type="text"
        class="form-control"
        #articleContent></textarea>
    </div>
    <div class="form-group">
      <select class="form-control" #status>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
        <option value="hidden">Hidden</option>
      </select>
    </div>
    <button
      class="btn btn-primary"
      (click)="onCreateArticle(articleTitle.value, status.value, articleContent.value, articleImg.value)">
      Add Article
    </button>
  </div>
</div>
