<div class="row item-item">
  <div class="col-12">
    <h5>{{ item.name }}</h5>
    <hr>
    <p>This item is {{ item.status }}</p>
    <hr>
    <p>Content:</p>
    <p>{{ item.content | slice:0:39 }}<span *ngIf="item.content.length > 39">...</span></p>
    <button
      class="btn btn-success"
      (click)="onSetTo('active')">Set to 'active'</button>
    <button
      class="btn btn-warning"
      (click)="onSetTo('inactive')">Set to 'inactive'</button>
    <button
      class="btn btn-secondary"
      (click)="onSetTo('unknown')">Set to 'unknown'</button>
  </div>
</div>
