.products-box {
  padding-top: 2rem;
}

.product .product-to-select {
  color: #4885ed;
  font-size: 1.5rem;
}

.product.selected .product-to-select {
  color: #db3236;
}

.product .product-to-select:hover {
  cursor: pointer;
}

.product-selected {
  color: #3cba54;
  font-size: 1.5rem;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none
}
